{{template "base" .}}

    {{define "content"}}

    <div class="container">
        <div class="row">
            <div class="col">
                <h1 class="text-center mt-3" >Make Reservation</h1>
               
                <form class="row g-3 mt-2">
                    <div class="col-6">
                      <label for="firstname" class="form-label">First Name</label>
                      <input type="text" class="form-control" id="firstname" placeholder="first name">
                    </div>
                  
                    <div class="col-6">
                      <label for="lastname" class="form-label">Last Name</label>
                      <input type="text" class="form-control" id="lastname" placeholder="last name">
                    </div>
                   
                    <div class="col-6">
                      <label for="inputAddress" class="form-label">Address</label>
                      <input type="text" class="form-control" id="inputAddress" placeholder="address" >
                    </div>
                    
                    <div class="col-6">
                      <label for="email" class="form-label" >Email</label>
                      <input type="email" class="form-control" id="email" placeholder="email@email.com"> 
                    </div>
                 
                    <div class="col-md-3">
                      <label for="telp" class="form-label">Telp</label>
                      <input type="text" class="form-control" id="telp" placeholder="telp">
                    </div>
                   
                    <div class="col-12">
                      <button type="submit" class="btn btn-primary">Make Reservation</button>
                    </div>
                  </form>

               
            </div>
        </div>
    </div>
   
 {{end}}

 
