{{template "base" .}}

    {{define "content"}}

    <div class="container"> 
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <h1 class="text-center mt-3" >Reservation Page</h1>

                <form action="/search-availability" method="POST" class="needs-validation" novalidate>

                  <input type="hidden" name="csrf_token" value="{{.CSRFToken}}">

                  <div class="row g-3" id="reservation-date">
                      <div class="col" >
                          <div class="mb-3">
                              <label for="start-date" class="form-label">Arrival</label>
                             
                              <input  required class="form-control" type="text" name="start" id="validationCustom05 start-date" placeholder="start date">
                              <!-- <div class="valid-feedback">
                                Looks good!
                              </div> -->
                              <div class="invalid-feedback">
                                Please select arrival date!
                              </div>
                             
                            </div>
                      </div>

                      <div class="col">
                          <div class="mb-3">
                              <label for="end-date" class="form-label">Departure</label>
                              <input  required class="form-control" type="text" name="end" id="validationCustom05 end-date" placeholder="end date">
                              <!-- <div class="valid-feedback">
                                Looks good!
                              </div> -->
                              <div class="invalid-feedback">
                                Please select departure date!
                              </div>
                            </div>
                      </div>
                  </div>

                  
                  <button type="submit" class="btn btn-primary">Search Availability</button>
                </form>   
                        
            </div>              
        </div>      
       
    </div>
   
    {{end}}

{{define "js"}}
    <script>
    //datepicker vanilajs
    const elem = document.getElementById('reservation-date');
    const rangepicker = new DateRangePicker(elem, {
    //option...
      format: "dd-mm-yyyy",         
     
    }); 

    </script>
{{end}}